.main {
  max-width: 300px;
  background-color: rgba(160, 90, 32, 0.048);
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  border-radius: 8px;
  overflow: hidden;
}

.main h3 a {
  color: var(--color-black-tr-30);
  font-size: 35px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;

}

.main  a:hover {
  color: var(--color-red);
  border-bottom: solid 2px var(--color-red);
  
  
  }
.main h3 {
  text-align: left;
  margin-bottom: 0px;
}
.main ul {
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  margin-left: -50px;
}
.main li a {
  color: rgb(4, 30, 63);

  font-weight: 600;
  font-size: 24px;
}
.main li {
  color: black;
  margin: 10px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
}

@media(max-width:1200px){
  .main {
    max-width: 80vw;
    background-color: rgba(128, 128, 128, 0.075);
    /* height: 500px; */
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    flex-direction: column;
    font-family: "Mulish", sans-serif;
  }

}