.main{
    width: 100%;
    max-width: calc(100% - 112px) ;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Karla', sans-serif;
    padding-top: 75px;

}


.breadCrumbs{
    font-family: 'Archivo Black', sans-serif;
    width: 100%;
    height: 35px;
    text-align: left;
    margin-bottom: 30px;
}

.breadCrumbs a{
    color: rgb(35, 35, 99);
    font-size: 20px;
    text-align: left;
    margin: auto 12px auto 0;
    
}

.imageAndDescription{
    display: flex;
    flex-direction: row;
}

.image img{
   width: 100%;
   max-width: 630px;
}

.rightDiv{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin:  0px auto;
    text-align: left;
}
.rightDiv h1{
    text-align: left;
    margin: 0 0 10px 0;
    font-family: 'Archivo Black', sans-serif;

}
.rightDiv h5{
    margin: 0;
}

.itemName{
    max-width: 300px;
    font-size: 22px;
}

.orderDiv{
    height: 250px;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.062);
    border-radius: 10px;
    margin-top: 25px;

}
.priceAndShipping{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px;
}
.price{
    font-size: 24px;
}

.shipping{
    color: rgba(32, 29, 29, 0.911);
    font-family: 'Karla', sans-serif;

    font-size: 16px;
}

.qtyAndBuy{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
.qty{
    
    width: 70px;
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0px 10px;
}

.qty input{
    width: 50px;
    height: 40px;
    margin-left: 10px;
}


.rightDiv h2{
    margin: 20px;
    max-width: 250px;
    margin-bottom: 0px;
}

.rightDiv p{
font-size: 15px;
    margin: 20px;
    max-width: 250px;
}


.descriptionAndDetails{
    display: flex;
    border-top: solid 1px black;
    width: 100%;
    text-align: left;
    height: 300px;
    margin: 80px 10px 0px 0px;
    
}
.description{
    text-align: left;
    width: 60%;
    margin: 20px 5px;
    
}

.details{
    text-align: left;
    width: 60%;
    margin: 20px 5px;
}



@media (max-width:1024px){

    .imageAndDescription{
        
        flex-direction: column;
    }

    .descriptionAndDetails{
        flex-direction: column;
    }
    .description{
        text-align: left;
        width: 80%;
        
        margin: 20px 5px;
        
    }
}
