

.sections span {
  font-family: "Open Sans", sans-serif;

  font-size: 24px;
  font-weight: 600;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin: 0px 5rem 0px 5rem;
  max-width: 360px;
  
}

.sections p {
  color: rgb(73, 73, 73);
  line-height: 28px;
  font-size: 18px;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

hr {
  width: 90%;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.button:hover {
  color:#FF4B5A ;
  scale: 1.1;
  
}

@media (max-width: 1500px) {
    .sections {
      margin: auto;
    }
  }

@media (max-width: 1200px) {
  .sections {
    margin: auto;
  }
}
