.button {
  height: 60px;
  width: auto;
  min-width: 150px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-red);
  color: white;
  -webkit-text-fill-color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  font-family: 'Archivo Black', sans-serif;
}

