
.wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
}

.wrapper h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  margin-left: 80px;
 
}

.sectionsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}






.image {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

hr{
    width: 90%;
}

@media (max-width: 1200px) {
    .sectionsDiv {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        width: 100%;
        margin: 10px;
        
      }
      .sectionsDiv section {
       margin: auto;
        
      }

      .wrapper h2 {
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        margin: 80px auto 50px auto;
      }
      
}

@media (max-width: 480px) {
    .sectionsDiv {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        width: 100%;
        margin: 10px;
        
      }
      .sectionsDiv section {
       margin: auto;
        
      }
      .sectionsDiv img{
       scale: 0.8;
       max-width: 370px;
      }

      .wrapper h2 {
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        margin: 80px auto 50px auto;
      }
      
}

