.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Karla", sans-serif;
  margin: 64px auto;
  background-color: var(--color-white);
padding: 16px 12px;
border-radius: 12px;
  max-width: var(--app-max-width);
}

.items {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
}

.checkout {
  background-color: rgba(173, 162, 162, 0.151);
  width: 25%;
  min-width: 250px;
  margin: auto;
 margin-top: 140px;
  border-radius: 5px;
  padding: 10px 10px;
}

.newItem{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.newItemContent{
  font-family: 'Karla', sans-serif;
  font-size: 20px;

  padding: 20px;
}
.newItemContent a{
  color: rgb(16, 16, 54);
}

.newItem h3{
  margin-right: 20px;
}

@media (max-width: 1024px) {
    .checkout {
       margin-top: auto;
      }
      
  .main {
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .items {
    width: 100%;
  }
  .checkout {
    width: 80%;
  }
}

@media (max-width: 668px) {
  .items h1 {
    font-size: 28px;
  }

  .newItemContent a{
   
    margin: 0px;
  }
}
