.itemCard {
  width: 289px;
  height: 307px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  border-radius: var(--radius-l);
  padding-bottom: 12px;
  justify-content: space-between;
  min-width: 200px;
  box-sizing: border-box;
}

.itemCard:hover {
  box-shadow: 6px 8px 20px 2px rgba(0, 0, 0, 0.315);
}

.itemName {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  display: flex;
  margin-top: 8px;
  padding: 0 8px;
}

.imgWrapper {
  height: 210px;
  width: 289px;
  overflow: hidden;
  border-bottom: 4px solid var(--color-primary);
}

.infoWrapper {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  font-family: "Noto Sans", sans-serif;
  color: rgba(0, 0, 0, 0.781);
  padding: 0 8px;
  /* font-weight: 600; */
}

.creator {
  font-family: "Karla", sans-serif;
  color: rgba(0, 0, 0, 0.781);
}

.container {
  position: relative;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-warp: warp;

  padding: 30px;
}

.container .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.container .card:hover {
  height: 320px;
}

.container .card .image {
  position: relative;
  width: 260px;
  height: 260px;

  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.container .card .image img {
  max-width: 100%;
  border-radius: 15px;
}

.container .card .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

@media (max-width: 1400px) {
  .itemCard{
    width: calc((100vw - 240px) / 3);
  }

  .imgWrapper{
    width: calc((100vw - 240px) / 3);

  }
}

@media (max-width: 1200px) {
  .itemCard{
    width: calc((100vw - 250px) / 2);
  }

  .imgWrapper{
    width: calc((100vw - 250px) / 2);

  }
}

@media (max-width: 768px) {
  .itemCard {
    width: 250px;
  }
}
@media (max-width: 668px) {
  .itemCard {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    box-sizing: border-box;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;    
    }
  .imgWrapper {
    width: 100%;
  
    border-bottom: 4px solid var(--color-primary);
  }
}
