.main {
  background: rgb(14, 26, 65);
  background: radial-gradient(
    circle,
    rgba(14, 26, 65, 1) 0%,
    #1F2640 100%
  );
  height: 50vh;
  width: 100%;
}

.welcomeArticleAndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
}

h1 {
  font-family: "Archivo Black", sans-serif;

  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 40px;

  font-size: 48px;
  font-weight: 600;
  max-width: 580px;
  width: 100%;
  margin-left: 10px;
}
.article {
  margin-top: 90px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
  min-width: 35vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  background: linear-gradient(to right, rgb(61, 242, 255), rgb(81, 255, 46));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.article h1 {
  text-align: left;
  font-size: 48px;
}
.pAndBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.article p {
  margin-top: -20px;
  text-align: left;
  width: 480px;
  font-size: 20px;
  font-family: "Karla", sans-serif;
}
.image {
  pointer-events: none;
  margin: auto;
  height: 500px;
  aspect-ratio: 16/ 9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.verticalBox {
  height: 70px;
  width: 3px;
  background-color: rgba(0, 255, 200, 0.514);
  margin-right: 10px;
  margin-top: -18px;
}

.buttons {
  position: relative;
  display: flex;
  left: -140px;
}

@media (max-width: 1550px) {
  .image {
    height: 400px;
    aspect-ratio: 16/ 9;
  }
}
@media (max-width: 1200px) {
  .image  {
    height: 300px;
    aspect-ratio: 16/ 9;
  }
  .article p {
    width: auto;
    max-width: 330px;
    
  }
  .verticalBox {
    height: 85px;
 
  }
  .welcomeArticleAndImage {
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
  .main {
    height: 650px;
  }
  
  .article {
    width: auto;
    margin-top: 0px;
  }
  .buttons {
    position: relative;
    display: flex;
    justify-content: flex-start;
   margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .image  {
    aspect-ratio: 16/ 9;
    height: 200px;
    zoom: -50%;
  }

  .article {
    width: auto;
    margin-top: 0px;
  }

  .article h1 {
    font-size: 28px;
  }
}

@media (max-width: 440px) {
  .image img {
    width: 100vw;
    aspect-ratio: 16/ 9;
  }

  .welcomeArticleAndImage {
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .main {
    height: 550px;
  }
}
