/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Gurajada&family=Karla:wght@500&family=Montserrat:wght@300&family=Open+Sans:ital@0;1&family=Roboto+Flex:opsz@8..144&display=swap'); */
footer {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    

  height: 700px;
  margin-top: 150px;
 background-color: var(--color-primary);
  height: 50vh;
  width: 100%;
}

.container {
    
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  color: rgb(233, 233, 233);
}

.lefDiv {
  display: flex;
  flex-direction: column;
}
.p {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 25px;
}

.rightDivs {
  display: flex;
  flex-direction: row;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin: 0px 40px 0px 40px;
  
}
.footerColumn a {
  margin: 0px;
  color: rgb(221, 221, 221);
  
  text-decoration: none;
}
.footerColumn p {
    font-size: 18px;
    margin: 3px;
    text-decoration: none;
  }
  .footerColumn h2 {
    font-size: 24px;
    text-decoration: none;
  }



  @media (max-width:1024px){
    
.container {
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 50px;
  padding-top: 50px;
  color: rgb(233, 233, 233);
}


.footerColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin: 0px 40px 0px 40px;
  
  
}

footer{
  height:100%
}

.rightDivs{
  flex-direction: column;
}
  }