nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  background: rgb(14, 26, 65);
  background: radial-gradient(
    circle,
    rgba(14, 26, 65, 1) 0%,
    #1F2640 100%
  );
  height: 100px;
  align-items: center;
}
.drawer {
  color: white;
}

nav h1 {
  text-align: left;
  
}
.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 2rem;
}

a:hover {
  color: #ff4b5a;
}

@media (max-width: 1200px) {
  nav h1 {
    text-align: left;
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 20px;
  }
  nav h1 {
    text-align: center;
  }

  .shoppingCart {
    display: flex;
    margin-right: 10px;
    /* color: #5e717c; */
    color: rgb(58, 59, 68);
  }
  .shoppingCart sup {
    font-size: 20px;
    position: relative;
    top: -5px;
    font-family: "Karla", sans-serif;
  }
}

@media (max-width: 668px) {
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 20px;
  }
  .navLinks {
    display: none;
  }
  nav h1 {
    margin: auto;
    font-size: 26px;
    letter-spacing: 0.41px;
    
  }
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 1rem;
  }

  nav {
    height: 70px;
    background: rgb(253, 253, 253);
  }

  .drawer {
    color: #5e717c;
  }
  a {
    text-decoration: none;
    color: rgb(14, 26, 65);
    cursor: pointer;
    margin: 2rem;
  }
}
@media (min-width: 668px) {
  .drawer {
    display: none;
  }
}
